body{
    color: red;

    font-family: 'Courier New', Courier, monospace;
}

.container{ 
    text-align: center;
border-radius: 1px solid black;
   
    color: black;
    width: 200px;
    height: 200px;
}